@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

.logo-container {
    width: 10%;
    padding: 0;

}

.logo-container a {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 100%
}

.logo-container a img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.menu-container {
    width: 90%;
    padding-right: 3vmin
}

.menu-secondary {
    float: right;
    width: 20%;
    display: table;
    text-align: right;
    font-weight: 700;
    background-color: #ffd800;
    font-variant: small-caps;
    font-size: 2vmin
}

.menu-secondary div {
    display: table-cell;
    text-align: center;

}

.main-menu {
    width: 100%;
    display: inline-block;
}

.main-menu ul {
    margin: 0;
    list-style-type: none;
    text-align: right;
    width: 60%;
    float: right;
    font-weight: 700;

}

.main-menu .menu-item {
    display: inline-block;
    padding: 2vmin 0vmin 2vmin 3vmin;
    text-transform: uppercase;
    text-align: right;
    margin-left: 3vmin;

}

.search-container {
    background-color: #eaeaea;
    position: relative;
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: end;
    font-size: 2.3vmin
}

.search-container .main-search {
    display: inline-flex;
    padding: 2px;
    margin-left: 25%;

}

.main-search>input[type='text'] {
    padding: 1.3vmin 1.8vmin;
    flex-basis: 30%;
    border: 0.03vmin solid #cccccc;

}

.main-search>input[type='submit'] {

    padding: 1.3vmin 1.8vmin;
    flex-basis: 30%;
    background-color: #00cda9;
    border: none;
    font-variant: small-caps;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
    font-size: 2vmin
}

select {
    padding: 1.3vmin 1.8vmin;
    font-weight: 600;
    flex-basis: 30%;
    border: 0.03vmin solid #cccccc;
    margin: 0
}

.main-search>button {
    padding: 1.3vmin 1.8vmin;
    font-weight: 800;
    font-size: 1.5vmin;
    margin: 0;
    flex-basis: 30%;
    text-transform: uppercase;
    border: none
}

.date-container {
    display: inline-flex;
    position: relative;
    justify-content: middle;
    margin: 0;
    border: 0.03vmin solid #cccccc;

}

.date-container input[type='button'] {
    display: inline-block;
    border: none;
    font-size: 2.3vmin;
}

.date-container input[type='date'] {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.3vmin 1.8vmin;
    font-weight: 600;
    width: 4vmin;
    background-color: transparent;
    border: none
}

.date-container>div {
    display: inline-block;
    position: relative
}

.date-container>div i {
    margin: auto;
    padding: 1.3vmin 1.8vmin;
    font-size: 4vmin
}

.secondary-search {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0
}

.secondary-search>div {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #7296ae;
    min-height: 15vmin;
    border: 0.13vmin solid #282720;
    display: none;
}

.main-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    vertical-align: middle;
}

.main-screen .main-screen-header {
    position: absolute;
    width: 100%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 6vmin;
    text-align: center;
}

.main-screen .main-screen-header h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-stretch: expanded;
    color: white;
    font-weight: bold;
    font-size: 5.5vmin;
}

.main-screen .main-screen-header button {
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5vmin 6vmin;
    border-radius: 2.5vmin;
    background-color: #00cca8;
    margin-top: 1vmin;
    letter-spacing: 1px;
    cursor: pointer;
}

.card-main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.card-main-container .card-container {
    position: relative;
    flex: 1;
    display: flex;
    min-height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

.card-container .card {
    display: table;
    position: relative;
    margin: 0;
    padding: 7vmin;
    text-align: left;
    width: 80%;
}

.card .card-title {
    display: flex;
    justify-content: left;
    position: relative;
    float: center;
    margin: auto;
}

.card .card-logo {
    display: flex;
    justify-content: center;
}

.card-logo .content {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 9vmin;
    width: 9vmin;
    word-wrap: break-word;
    font-size: 5vmin;
    margin: auto
}

.card-logo .content * {
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: white
}

.card-title .title {
    display: inline-block;
    position: relative;
    word-break: break-all;
    text-transform: uppercase;
    font-weight: 1200;
}

.card .discription {
    clear: both;
    position: relative;
    display: block;
    width: 100%
}

.subscription-bar {
    background-color: gold;
    text-align: center;
    margin: 0
}

.subscription-bar .title {
    font-size: 3.5vmin;
    display: inline-block
}

.subscription-bar .title b {
    color: #00cca7
}

.subscription-bar form {
    display: inline-flex;
    width: 30%;
    margin-left: 5%
}

.subscription-bar form input[type='email'] {
    margin: 0;
    flex-basis: 70%;
    padding: 1.5vmin 2vmin;
    border: none;
    border-radius: 0.35vmin;
    box-shadow: -0.05vmin 0.05vmin 0.5vmin 0.05vmin inset #ffcc00
}

.subscription-bar form input[type='submit'] {
    flex-basis: 30%;
    margin: 0;
    text-transform: uppercase;
    padding: 1.5vmin 3vmin;
    font-weight: bold;
    border: none;
    background-color: #00cca7;
    color: white
}

.footer {
    display: flex;
    background-color: #524b8e
}

.footer .net-work {
    flex: 1;
    justify-content: center;
    padding: 5vmin;
    text-align: center
}

.net-work .net-work-container {
    position: relative;
    width: 60%;
    float: right;

}

.net-work .title {
    color: white;
    text-align: left;
}

.net-work .content {
    text-align: left;
    position: relative
}

.net-work .content .item {
    display: inline-block;
    border: 0.3vmin solid #04bba9;
    border-radius: 50%;
    height: 4vmin;
    width: 4vmin;
    text-align: center;
    padding: 1vmin;
    font-size: 3vmin;
    margin-right: 1.5vmin;
    color: #04bba9
}

.utils-container {
    flex: 1;
    justify-content: center;
    display: inline-flex
}

.utils-container .utils-content {
    position: relative;
    width: 50%;
    display: inline-flex;
    vertical-align: middle;

}

.utils-container .utils-content .content {
    list-style-type: none;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.utils-container .utils-content .content li {
    margin-bottom: 1vmin;

}

.utils-container .utils-content .content li a {
    text-decoration: none;
    color: white;

}

.utils-container .utils-content .contact {
    list-style-type: none;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.utils-container .utils-content .contact li {
    display: inline-flex;
    justify-content: left;
    margin: 0;
    padding: 0
}

.utils-container .utils-content .contact .logo {
    position: relative;
    display: inline-block;
    height: 4vmin;
    width: 4vmin;
    text-align: center;
    padding: 1vmin;
    font-size: 3vmin;
    color: #04bba9;

}

.utils-container .utils-content .contact .desciption {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

}